In [1]:
# Load libraries and the dataset - Preview data with number of rows/columns
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Select Apple stocks
apple = yf.download("AAPL", start="2000-01-01", end="2022-12-31")
apple

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.848323,535796800
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.776801,512377600
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.788168,778321600
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.719961,767972800
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.754065,460734400
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.299820,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.477585,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.504539,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.059372,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.378006,77034200

### Selecting the top 3 spy holdings

In [5]:
stock_pick = ['AAPL', 'MSFT', 'AMZN']
stocks = yf.download(stock_pick, start="2000-01-01", end="2022-12-31")
stocks

[*********************100%%**********************]  3 of 3 completed

             Adj Close                              Close             \
                  AAPL       AMZN        MSFT        AAPL       AMZN
Date
2000-01-03    0.848323   4.468750   36.205593    0.999442   4.468750
2000-01-04    0.776801   4.096875   34.982586    0.915179   4.096875
2000-01-05    0.788168   3.487500   35.351429    0.928571   3.487500
2000-01-06    0.719961   3.278125   34.167217    0.848214   3.278125
2000-01-07    0.754065   3.478125   34.613728    0.888393   3.478125
...                ...        ...         ...         ...        ...
2022-12-23  131.299820  85.250000  237.112076  131.860001  85.250000
2022-12-27  129.477585  83.040001  235.354095  130.029999  83.040001
2022-12-28  125.504547  81.820000  232.940567  126.040001  81.820000
2022-12-29  129.059372  84.180000  239.376648  129.610001  84.180000
2022-12-30  129.378006  84.000000  238.194702  129.929993  84.000000

                              High                                Low  \
                  MSFT        AAPL       AMZN        MSFT        AAPL
Date
2000-01-03   58.281250    1.004464   4.478125   59.312500    0.907924
2000-01-04   56.312500    0.987723   4.575000   58.562500    0.903460
2000-01-05   56.906250    0.987165   3.756250   58.187500    0.919643
2000-01-06   55.000000    0.955357   3.634375   56.937500    0.848214
2000-01-07   55.718750    0.901786   3.525000   56.125000    0.852679
...                ...         ...        ...         ...         ...
2022-12-23  238.729996  132.419998  85.779999  238.869995  129.639999
2022-12-27  236.960007  131.410004  85.349998  238.929993  128.720001
2022-12-28  234.529999  131.029999  83.480003  239.720001  125.870003
2022-12-29  241.009995  130.479996  84.550003  241.919998  127.730003
2022-12-30  239.820007  129.949997  84.050003  239.960007  127.430000

                                         Open                         \
                 AMZN        MSFT        AAPL       AMZN        MSFT
Date
2000-01-03   3.952344   56.000000    0.936384   4.075000   58.687500
2000-01-04   4.087500   56.125000    0.966518   4.268750   56.781250
2000-01-05   3.400000   54.687500    0.926339   3.525000   55.562500
2000-01-06   3.200000   54.187500    0.947545   3.565625   56.093750
2000-01-07   3.309375   53.656250    0.861607   3.350000   54.312500
...               ...         ...         ...        ...         ...
2022-12-23  82.930000  233.940002  130.919998  83.250000  236.110001
2022-12-27  83.000000  235.830002  131.380005  84.970001  238.699997
2022-12-28  81.690002  234.169998  129.669998  82.800003  236.889999
2022-12-29  82.550003  235.649994  127.989998  82.870003  235.649994
2022-12-30  82.470001  236.660004  128.410004  83.120003  238.210007

               Volume
                 AAPL       AMZN      MSFT
Date
2000-01-03  535796800  322352000  53228400
2000-01-04  512377600  349748000  54119000
2000-01-05  778321600  769148000  64059600
2000-01-06  767972800  375040000  54976600
2000-01-07  460734400  210108000  62013600
...               ...        ...       ...
2022-12-23   63814900   57433700  21207000
2022-12-27   69007800   57284000  16688600
2022-12-28   85438400   58228600  17457100
2022-12-29   75703700   54995900  19770700
2022-12-30   77034200   62401200  21938500

[5787 rows x 18 columns]